<div class="">
    <!-- TODO: [FrontEnd], Tables presentation -->
    <h1>Admin - Database management</h1>
    <hr/>
    <div class="center-block" ng-repeat="table in tables">
        <table class="table center">
            <thead>
                <tr>
                    <th colspan="2">{{ table.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="column in table.columns">
                    <td>{{ column.name }}</td>
                    <td>{{ column.type }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>