<div class="">
    <nav class="navbar navbar-default">
        <!-- Dropdown on right -->
        <ul class="nav navbar-nav navbar-left">
            <li ng-show="authenticated && loggedUser.role == 'ROLE_ADMIN'"><a ui-sref="admin.home">Panel</a></li>
            <li ng-show="authenticated && loggedUser.role == 'ROLE_ADMIN'"><a ui-sref="admin.users">Users</a></li>
            <li ng-show="authenticated && loggedUser.role == 'ROLE_ADMIN'"><a ui-sref="admin.database">Database</a></li>
    </ul>
    </nav>

    <hr/>

    <div class="container" ui-view="admin-view"></div>
</div>