<div class="container">
    <div ng-controller="HomeController as homeCtrl">
        <div class="home-page-header center-text">
            <h1>{{ homeCtrl.homeContent.header }}</h1>
        </div>
        <hr/>
        <div class="center-text">
            <h3>Newest article</h3>
        </div>
        <article>
            <div>
                <div class="top-bottom-line">
                    <h1 class="header">{{ homeCtrl.homeContent.content.title }}</h1>
                    <span class="author-date-element">by <b>{{ homeCtrl.homeContent.content.user.username }}</b>, {{ homeCtrl.homeContent.content.createTime }}</span>
                </div>
                <pre class="article-pre article-content">{{ homeCtrl.homeContent.content.content }}</pre>
            </div>
        </article>
    </div>
</div>