<div class="well center-block">
    <form role="form">
        <div class="form-group">
            <label for="title" class="control-label">Update user:</label>
        </div>
        <div class="form-group">
            <input type="hidden" ng-model="user.id" value="{{ user.id }}" class="form-control element-bg-color border-color text-font-color" id="id">
        </div>
        <div class="form-group">
            <input type="text" ng-model="user.username" class="form-control element-bg-color border-color text-font-color" id="name">
        </div>

        <!-- TODO disabling change password functionality, fix handling password for user
        <div class="form-group">
            <input type="password" ng-model="user.password" value="{{ user.password }}" class="form-control element-bg-color border-color text-font-color" id="password">
        </div>
        -->

        <div class="form-group">
            <input type="email" ng-model="user.email" class="form-control element-bg-color border-color text-font-color" id="email">
        </div>
        <input type="submit" class="btn btn-style" ng-click="updateUser()" value="Update" />
        <button ng-click="back()" type="button" class="btn btn-default">Back</button>
    </form>
</div>
