<div class="center-block">
    <div ng-show="!authenticated">
        <p>Login to see content</p>
    </div>
    <div ng-show="authenticated">
        <div>New Article</div>
        <form role="form">
            <div class="form-group">
                <label for="title">Title: </label>
                <input type="text" class="form-control" id="title" ng-model="newArticle.title" />
            </div>
            <div class="form-group">
                <label for="content">Content: </label>
                <textarea class="form-control" rows="5" id="content" name="content" ng-model="newArticle.content"></textarea>
            </div>
            <input type="submit" value="Submit" ng-click="createArticle(loggedUser.id)"/>
            <button type="button">Back</button>
        </form>
    </div>
</div>