<div class="articles-list" class="center-block">
    <div>
        <a ui-sref="article_new" ng-show="authenticated">New Article</a>
    </div>
    <table class="table table-border table-striped">
        <thead class="thead-inverse">
            <tr>
                <td colspan="3">
                    <form>
                        <div class="form-group">
                            <div class="input-group search-bar">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search article by Title, Author or Create Time" ng-model="searchArticle" />
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="table-header">
                <td class="col-md-3 text-center">Title</td>
                <td class="col-md-1 text-center">Author</td>
                <td class="col-md-1 text-center">Create Time</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles | orderBy: createTime: true | filter:searchArticle">
                <td><a ui-sref="article({ id:article.id })">{{ article.title }}</a></td>
                <td class="text-center"><span class="text-color-common">{{ article.user.username }}</span></td>
                <td class="text-center"><span class="text-color-common">{{ article.createTime }}</span></td>
            </tr>
        </tbody>
    </table>
</div>