<article class="center-block">
    <a ui-sref="articles">
        << Back to articles list</a>
            <div>
                <header></header>
                <div class="top-bottom-line">
                    <strong class="header">{{ article.title }}</strong><br />
                    <span class="author-date-element">by <b>{{ article.user.username }}</b>, {{ article.createTime }}</span>
                </div>
                <pre class="article-pre article-content">{{ parsedContent }}</pre>
            </div>
</article>