<div>
    <table class="table table-hover">
        <thead>
        <tr class="table-header">
            <td colspan="">
                Change Password
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="error">{{ responseMsg }}</div>
                            <input type="password" class="form-control" placeholder="Password" ng-model="newPassword"/>
                            <input type="password" class="form-control" placeholder="Repeat Password"
                                   ng-model="newPasswordRepeat"/>
                            <button type="submit" class="btn btn-default" ng-click="updateUser()">Update</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>