<div class="login-page">
    <div class="form">
        <form class="register-form" role="form">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-group">
                <label for="title" class="form-title control-label">New user</label>
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.username" id="username"
                       placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" id="password"
                       placeholder="password">
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password1" id="password1"
                       placeholder="repeat password">
            </div>
            <div class="form-group">
                <input type="email" ng-model="user.email" id="email"
                       placeholder="email">
            </div>
            <!-- div class="form-group" ng-show="errors.error">
                <span>{{ errors.error }}</span>
            </div -->
            <input type="submit" ng-click="createUser()" value="CREATE"/>
            <button ng-click="back()" type="button">Back</button>
        </form>
    </div>
</div>





