<div class="login-page">
    <div class="form">
        <form class="register-form" role="form">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-group">
                <label for="title" class="form-title control-label">Reset Password</label>
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.email" id="email"
                       placeholder="email">
            </div>
            <input type="submit" ng-click="resetPassword()" value="RESET"/>
            <button ng-click="back()" type="button">Back</button>
        </form>
    </div>
</div>